extends ../../layouts/home

block jsimports
	script(src="/js/web/create.js")
	script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
	.content="Create a new Story with yourself as the Storyteller."
	.content="You can start a new version of an existing story:"
		div
			a.item(href="/create/story/trolls")="Trolls"
			a.item(href="/create/story/rabbit")="Sad Rabbit"
	.content="Or create your own from scratch:"
	#status
	.field
		.name="Story Name:"
		input#inputName
	.field
		.name="Description:"
		input#inputDesc
	.field
		.content(title="This lets you create the story 'live', in response to the player's actions") Multiplayer Story		
			input(type="checkbox", checked=true,title="This lets you create the story 'live', in response to the player's actions")#inputType
	.field
		.name(title="Choose to create a story with text and pictures, or using prose text")="Content Type:"
		select(title="Choose to create a story with text and pictures, or using prose text")#inputContent
			option="Picture"
			option="Prose"
	.field
		#submitButton.button(onclick="submitStory(this)")
			span.throbber
			span.label Begin!
//-	.field
//-		.name(title="The number of players INCLUDING the Storyteller")="Players:"
//-		select#inputPlayer
//-			option="1"
//-			option(selected="true")="2"
//-			option="3"
//-			option="4"