extends ../../layouts/home
include ../../mixins/printStory
include ../../mixins/storyTile

block jsimports
	script(src="/js/lib/require/require.js")
	script(src="/js/requireConfig.js")
	script(src="/js/web/storytile.js")

block content
	.group
		//-.subtitle="Active Stories"
		.groupbody
			if stories.active && stories.active.length>0
				each story in stories.active
					+storyTile(story)
			else
				.message="No stories available"
	
	.group
		.subtitle="Invitations"
			.message="You have no outstanding invites"
