extends ../../layouts/home
include ../../mixins/storyTile

block jsimports
	script(src="/js/lib/require/require.js")
	script(src="/js/requireConfig.js")
	script(src="/js/web/storytile.js")


block content
	.group
		if stories && stories.length>0
			each story in stories
				+storyTile(story)
		else
			.message Sorry, there aren't any open stories at the moment. Why not <a href="/create">create one</a>?
