extends ../../layouts/home
include ../../mixins/storyTile

block jsimports
	script(src="/js/lib/require/require.js")
	script(src="/js/requireConfig.js")
	script(src="/js/web/storytile.js")

block content
	dev Browse stories published and shared by other Storyteller players.
	.group
		.subtitle="Published Stories"
		if stories
			each story in stories
				+storyTile(story)
		else
			.message="No stories available"
