doctype html
html
	head
		title=Storyteller
		link(rel="stylesheet", href="/styles/st-client/index.css")
		
		script(src="/js/web/index.js")
				
body
	.welcome
		.header="Storyteller"
		.menu
			span
				.nav
					a.item(href="/story/streak-free")="Streak Free"
					if links
						each link in links
							a.item(href=link.target)=link.name
					else
						span.signin="Sign in for more stories!"
			span.spacer="|"
			span
				include user.jade
		if user && user.canAccessKeystone
			.adminMenuTitle="Active Games"
			each player in players
				.playerMenu
					.playerName=player.getName()
					.playerLinks
						each story in player.stories
							span.storybox(data-storyId=story.id)
								a.item(href="/story/"+story.id)=story.title
								span.control="["
								span.command(onclick="removeStory(this)")="x"
								span.control="]"