extends ../layouts/home

block jsimports
	script(src="/js/web/index.js")
	script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
	if mode=="web"
		div="Please enter your details to login."
			.field
				#csrf(csrf=csrf_token_key, csrf-key=csrf_token_value)
				span.fieldName="Email:"
				span.fieldValue
					input(onKeyPress="doCommand(event, 'doSimpleLogin')")#email
			.field
				span.fieldName="Password:"
				span.fieldValue
					input(type="password",onKeyPress="doCommand(event, 'doSimpleLogin')")#pw
	else
		div="Enter your name to login."
			.field
				span.fieldName="Name:"
				span.fieldValue
					input#userName


	#message
	div
		#loginButton.button(onclick="doSimpleLogin(undefined, this)")
			span.throbber
			span.label="Login"
