.nav
  //-a.item(href="/stories")="Read"
  //-a.item(href="/multistories")="Play"
  //-a.item(href="/about")="About"
  a.item(href="/story/trolls-1")="Trolls!"
  a.item(href="/story/streak-free")="Streak Free"