extends ../layouts/home

block jsimports
	script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
	div="Enter your details to register for an account"
		#csrf(csrf=csrf_token_key, csrf-key=csrf_token_value)
		.field
			span.fieldName="Name:"
			span.fieldValue
				input#userName
			div
				.button(onclick="register(this)")
					span.throbber
					span.label="Register"
		#message