doctype html
html
	head
		title=data.story.title+" :: A Storyteller Game"
		//- Statically import my default CSS
		link(rel="stylesheet", href="/styles/st-client/page.css")
		link(rel="stylesheet", href="/styles/st-client/content.css")
		link(rel="stylesheet", href="/styles/st-client/widgets/Drawer.css")
		if data.story.contentType!="Prose" 
			link(rel="stylesheet", href="/styles/st-client/widgets/gallery.css")
		else
			link(rel="stylesheet", href="/styles/st-client/prose-overrides.css")
		link(rel="stylesheet", href="/styles/st-client/widgets/Button.css")
		link(rel="stylesheet", href="/styles/st-client/widgets/Notifier.css")
		link(rel="stylesheet", type="text/css", href="/js/lib/jquery-tooltipster/css/tooltipster.css")

		link(rel="stylesheet", href="/js/lib/jquery-ui-1.11.1/jquery-ui.min.css")
	
		script(src="/js/lib/require/require.js")
		script(src="/js/lib/jq-bootstrap.js")
		
		//- set up the model JSON from the content
		//- Not sure how to do this in production. XHR GET from the data URL? Bake the JSON into the page
		//- from the template?
		
		//- script!='window.storyPath="'+data.story.id+'";'
				
		//- Dump the story's JSON content into the page
		script!= 'window.storyJson = '+JSON.stringify(data.story)
		
		//- Also dump the list of players
		script!= 'window.playerList = '+JSON.stringify(data.players)
		//- And the chat...
		if(data.chat)
			script!= 'window.chatId = "'+data.chat+'";'

		if(isSpectator)
			script!= 'window.spectateMode=true'
				
		script(src="/js/st-client/bootstrap.js")
		script(src="/js/web/index.js")
		
		//- Would be nice to have a cleaner way to load in the chat dependencies
		//- For instance, we only need it on multi-player games, not single...
		//script(src="/socket.io/socket.io.js")
		link(rel="stylesheet", href="/styles/st-client/chat.css")

	body
		header
			if liveStory
				#chatRoot
			#logRoot="Log (0)"
			#storyTitle
				if(data.isStoryteller)
					.fi.edit
					.title
				else
					.title
			#playerUi
				if liveStory && (data.isStoryteller||isSpectator)
					label="Select Player"
						select#playerSelect
				include user.jade
		if(data.isStoryteller)
			.edit-toolbar
				if liveStory
					#responseButton.button(style="float:left")
						span.label Responses
						span.notifier 
				#saveButton.button(style="float:left",onclick="save()")="Save"
				span#editControls
					if data.story.contentType!="Prose" 
						.button(onclick="openGallery()")="Gallery"
					.button(onclick="addText()")="Text"
		.app-body
			.sidebar
			.storyboard
		footer
			.about
				span.version="Storyteller v"+version
				span.ep &#169;Electronic Poets 2014
			#leftCmd
			#centerCmd
			//-.commandTray.center
			//-		.button
			//-				span="Character"
			//-		.button
			//-				span="Inventory"
			//-		.button
			//-				span="Location"
			#rightCmd