extends ../layouts/default

mixin storyLink(story)
	.post(data-ks-editable=editable(user, { list: 'Story', id: story.id }))
		h2: a(href='/story/' + story.id)= story.title
		if story.objective
				b!=story.objective
		p!= story.description

block intro
	.container
		h1="Stories"
	.explanation "Stories" are single-player stories expressed through text and/or graphics. Stories may branch in different directions, but aren't controlled by a live story-teller. All the options and pages you see are entirely pre-calculated.

block content
	.container: .row
		.col-sm-8.col-md-9
				if data.stories.results.length
					if data.stories.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.stories.first}
							|  to 
							strong #{data.stories.last}
							|  of 
							strong #{data.stories.total}
							|  stories.
					else
						h4.text-weight-normal Showing #{utils.plural(data.stories.results.length, '* story')}.
					.blog
						each story in data.stories.results
							+storyLink(story)
					
					if data.stories.totalPages > 1
						ul.pagination
							if data.stories.previous
								li: a(href='?page=' + data.stories.previous): span.entypo.entypo-chevron-thin-left
							else
								li.disabled: a(href='?page=' + 1): span.entypo.entypo-chevron-thin-left
							each p, i in data.stories.pages
								li(class=data.stories.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.stories.totalPages : 1) : p ))= p
							if data.stories.next
								li: a(href='?page=' + data.stories.next): span.entypo.entypo-chevron-thin-right
							else
								li.disabled: a(href='?page=' + data.stories.totalPages): span.entypo.entypo-chevron-thin-right
				else
						h3.text-muted There are no stories yet.
