.user
  if user
      //-span#userNode.item.bold=user.getName()
      a.item.userName(href="/user")=user.getName()
  else 
      span#userNode.item.fade="Guest"
  span.spacer="-"
  if user && user.canAccessKeystone
    a.item(href="/keystone") Keystone
    span.spacer |
  
  if user
      span#loginNode.item.fade(onclick="logout()")="Logout"
  else
      span#loginNode.item.bold(onclick="login()")="Login"
      span.spacer |
      span#registerNode.item.bold(onclick="window.location=\"/register\"")="Register"