
  body {
    vertical-align: middle;
    font-size: 12pt;
    background-color: #F7FAFF;
  }
  
  .welcome {
    position:absolute;
    left:50%;
    top: 30%;
    margin:-50px 0 0 -275px;
/*    width: 380px;*/
    text-align: center;
  }
  
  .header {
      
      font-size: 52pt;
      border-bottom: solid 1px #c0c0c0;
      color: slategrey;
  }
  
  .menu {
      color: grey;
      margin-top: 6px;
  }
  
  #userNode,
  .header,
  .menu {
      cursor: default;
  }
  
  .menu span.item {
      cursor: pointer;
  }
  
  .item {
     color: grey;
     text-decoration: none;
     margin-right: 4px;
  }
  
  .item.active {
    font-size: 110%;
    font-weight: bold;
  }
  
  .item.fade {
      opacity: 0.5;
  }
  
  .item.bold {
      font-weight: bold;
  }
  
  .nav a,
  .nav span,
  span.spacer {
      padding: 4px 6px;
  }
  
  .nav,
  .user {
    display: inline-block;
  }
  
  
  /* Non-index styles */
  
  .storytellerNav .nav{
    position: absolute;
    left: 0px
  }
  
  .storytellerNav .user{
    position: absolute;
    right: 0px
  }
  
  .storytellerNav {
    position: absolute;
    
    top: 8px;
    left: 20px;
    right: 20px;
    height: 35px;
    
    border-bottom: solid 1px #c0c0c0;
  }
  
  .explanation {
    font-size: 12pt; 
    padding: 5px 60px;
  }
  
  
  .adminMenuTitle {
    margin-top: 20px;
    
    font-weight: bold;
    font-size: 120%;
    color: slategrey;
    
    border-bottom: 1px solid #c0c0c0;
    margin-left: 60px;
    margin-right: 60px
  }
  
  .playerMenu {
    margin-top:5px;
  }
  
  .playerName {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .playerLinks {
    display:inline-block;
  }
  
  .storybox {
    margin: 4px 2px;
  }
  
  .storybox .item {
    padding-left: 4px;
  }
  
  .command {
    color: #B85555;
    cursor: pointer;
  }
  
  .control {
    color: #c0c0c0;
  }
  
  .signin {
    color: #B85555;
  }
  
  .button {
    display: inline-block;
    border: solid 2px #666;
    color: black;
    cursor: pointer;
    
    margin-top: 4px;
    padding: 2px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: white;
  }
  
  input.error {
    border-color: red;
  }
  
  /* Style page descriptions */
  
  .content {
    /*border: solid 1px;
    background-color: #F1F7AF;*/
    color: grey;
    margin: 10px 30px;
    padding: 5px;
  }
  
  .content .subtitle {
   /* font-weight: bold;*/
    color: darkblue;
    margin: 4px 0px;
  }
  
  .content .group {
    margin-bottom: 8px;
  }
  
  .content .message {
    color: slategrey;
  }
  
  .content .story .storyType {
    display: inline-block;
    padding: 5px 0px;
    color: cornflowerblue;
    font-size: 80%;
    /*font-weight: normal;*/
  }
  
  .content a.item {
    text-decoration: underline;
    color: rgb(51,51,82);
  }
  
  .content .field {
    padding: 4px 0px;
  }
  
  .content .field .name{
    display: inline-block;
    cursor: default;
  }