/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Aug-2014, 14:00:05
    Author     : Joe
*/

@highlightborder: maroon;
@border: red;
@background: yellow;
@highlighttext: orange;

/* define font icons */
@font-face {
    font-family: "Storyteller Icons";
    src: url('/fonts/fontello-st1/font/fontello.woff');
}

@font-face {
    font-family: "Storyteller Icons2";
    src: url('/fonts/fontello-st1/font/fontello2.woff');
}

.fi {
    font-family: "Storyteller Icons";
    font-size: 14px;
    color: red;
    background: lemonchiffon;
    padding: 1px;
    padding-right: 2px; /* hmm */
    padding-top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

/* overlap adjacent icons slightly, I like this little effect*/
.commandTray .fi {
    margin-left: -4px;
}

.commandTray .fi:first-child {
    margin-left: 0px;
}

/* create a mixin-able border style */
.m_circled {
    border-radius: 50%;
    border: solid 2px @highlightborder;
}
/* can I import behaviour free? */
.m_hover {
    border-color: @highlighttext;
    color: @highlighttext;
    background-color: #522F1E;
    /* This looks nice - but there are problems with resizing parent containers */
    /*font-size: 110%;
    transition: font-size 0.2s ease-out;*/
}

/* how can I minimize this boilder-plate */
.fi.freestyle,
.fi.remove,
.fi.newpage,
.fi.static,
.fi.goto,
.fi.info,
.fi.ok,
.fi.warning,
.fi.playerStatus{
    .m_circled; /*load the mixin*/
}
.fi.freestyle:hover,
.fi.remove:hover,
.fi.newpage:hover,
.fi.static:hover,
.fi.goto:hover,
.fi.info:hover,
.fi.ok:hover,
.fi.warning:hover{
    .m_hover; /*load the mixin*/
}

.fi.selector:before {
    content: '\e809'
}
.fi.freestyle:before {
    content: '\e818';
}
.fi.static:before {
    content: '\e814';
}
.fi.remove:before {
    content: '\e80A';
}
.fi.newpage:before {
    content: '\e81C';
}
.fi.newlink:before,
.fi.goto:before {
    content: '\E816';
}
.fi.info:before {
    content: '\E80E';
}
.fi.ok:before {
    content: '\E809';
}
.fi.warning:before {
    content: '\e80f';
}
.fi.edit:before {
    content: '\e812';
}
.fi.published:before {
    content: '\e81b';
}
.fi.unpublished:before {
    content: '\e815';
}
.fi.bg:before {
    content: '\e81f';
}
.fi.playerStatus:before {
    content: '\e807';
}