    /*
     * A bunch of styles to serve the client-side chat interface
     */

     .chatNotifier {
         cursor: pointer;
     }

     .chatNotifier:hover {
         color: orange;
     }

     .chatNotifier .label {
        font-weight: bold;
        padding-right: 2px;
     }

     .chatNotifier .playerCount {
       padding-right: 4px;
     }

     .chatNotifier .icon {
         display: inline-block;
         width: 16px;
         height: 16px;
         vertical-align:text-bottom;
         margin-right: 4px;
         background-image: url('/images/findicons.com/chat-16.png');
     }
      .chatNotifier:hover .icon {
         background-image: url('/images/findicons.com/chat-16-orange.png');
     }


     .chatPane {
         background-color: rgb(230, 230, 230);
         /*display: table;*/
         width: 100%;
         height: 100%;

         /*padding: 2px;*/
         cursor: default;
     }

     /***** The list of active players ******/

     .chatPane .playerList {
         /*display: table-row;*/
         display: table;
         width: 100%;
     }
     .chatPane .title{
         padding-top: 8px;
         font-weight: bold;
         text-align: center;
         border-bottom: solid 1px slategrey;
         margin-bottom: 4px;
     }

     .playerList .players {
         display: table;
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         border-spacing: 2px;
     }

     .playerList .playerRoot {
         display: table-row;
     }

     .playerRoot .playerName,
     .playerRoot .pageName,
     .playerRoot .storyteller,
     .playerRoot .playerStatus {
         display: table-cell;
         /*padding: 0px 2px;*/
     }

     .playerRoot .pageName {
        color: darkgrey;
        font-style:italic;
     }
     
     .playerRoot .pageName:hover {
         color: maroon;
     }
     
     .playerRoot .pageName.hide {
        visibility: hidden;
     }

     .playerRoot .storyteller,
     .playerRoot .playerStatus {
         width: 16px;
         height: 16px;
     }

     .playerRoot .storyteller {
         background-image: url('../../images/findicons.com/quill-16.png');
         background-repeat: no-repeat;
         visibility: hidden;
     }

     .playerRoot .storyteller.show {
         visibility: visible;
     }

     .playerRoot .playerStatus {
         background-color: inherit !important;
         border: none !important;
         cursor: default !important;
     }
     
     .playerRoot .playerStatus.online {
        color: green;
     }

     .playerRoot .playerStatus.offline {
        color: maroon;
     }

     /***** The chat room itsef ******/

     .chatRoom {
         visibility: hidden;
         display: table;
         width: 100%;
        /* position: relative;
         top: 0px;
         bottom: 0px;*/
     }

     .chatRoom .input-wrapper {
         display: table;
     }

     .chatRoom .input-wrapper .row{
         display: table-row;
     }

     .chatRoom .input-wrapper .cell {
         display: table-cell;
     }

     .chatRoom .input-wrapper .cell.submit {
         min-width: 40px;
         text-align: center;
     }

     .chatRoom .input-wrapper .cell.input {
         padding-left: 4px;
     }

     .chatRoom .input-wrapper .cell.input,
     .chatRoom .input-wrapper .cell input {
        width: 100%;
     }

     /*.chatRoom .title,
     .chatRoom .messages,
     .chatRoom .input {
         display:  table-row;
     }*/

     .chatRoom.show {
         visibility: visible;
     }

     /* This should greddily stretch to fill all avaialable space. Doable in CSS? */
     .chatRoom .messages {
         border: solid 1px #c0c0c0;
         margin: 2px 4px;
         /*background-color: #D2D0D4;*/
         background-color: #FCFAFF;
         height: 100%;

         overflow-x: hidden;
         overflow-y: auto;
     }
     .chatRoom .messages.empty {
         font-style: italic;
     }

     .chatRoom .input {
         text-align: center;
     }

     .chatRoom .message-wrapper {
        white-space:nowrap;
        background-color: inherit;
        /*padding: 2px;*/
     }
 
     .chatRoom .message-divider {
         border-bottom: solid 1px rgb(214, 180, 180);
         height: 10px;
         overflow: visible;
         margin: 0px 30px 6px 30px;
         text-align: center;
     }
     
     .chatRoom .message-divider .timestamp{
         color: rgb(214, 180, 180);
         font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
         background-color: #FCFAFF;
         display: inline;
         padding: 0px 4px;
         font-size: 12px;
     }
     
    .chatRoom .message-wrapper.glow.in {
        transition: background-color 0.4s ease-in;  
        background-color: rgb(253, 251, 205);
    }

    .chatRoom .message-wrapper.glow.out {
       transition: background-color 2s ease-out;
       background-color: inherit;
       /*background-color: rgb(253, 251, 205);*/
    }
 
    .chatRoom .message-wrapper .meta-wrapper,
    .chatRoom .message-wrapper .message {
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: 4px;
        padding: 2px 4px;

    }

    .chatRoom .message-wrapper.delta {
        margin-top: 8px;
    }

    .chatRoom .message-wrapper .message,
    .chatRoom .message-wrapper .meta-wrapper {
        display: table-cell;
    }

    .chatRoom .message-wrapper .meta-wrapper {
        border-right: solid 1px rgb(112, 84, 84);
    }

    .chatRoom .message-wrapper .message {
        padding-left: 6px;
        white-space: pre-line;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 14px;
        /*font-family: "Arial Black", Gadget, sans-serif;*/
        /*transition: background-color 2s;
        transition: background-color 2s;
        background-color: inherit;*/
    }

   /* .chatRoom .message-wrapper .message.glow.in {
       background-color: lemonchiffon;
    }

    .chatRoom .message-wrapper .message.glow.out {
       transition: background-color 2s;
       background-color: inherit;
    }*/

    /*.chatRoom .message-wrapper.self {
        font-style: italic;
    }*/

    .chatRoom .author {
        font-weight: bold;
        padding-left: 2px;
        margin-top: 8px;
    }

    .chatRoom .message-wrapper .timestamp {
        opacity: 0.5;
        font-size: 75%;
        padding-left: 6px;
    }