/* This kind of centering control is fine, but what about other positions? 
I guess I can easily calibrate align top/bottom/middle/left/right, user can drag % offset from there */		

.content-wrapper.prose {
    display: block;
    position: static;

    .titlebar-wrapper {
        position: relative;
        float: left;
        top: 4px;
        bottom: 0px;
        right: inherit;
        opacity: 0.8;
        height: auto;
        
        .titlebar {
            border-radius: 0px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            
            > span {
                display: block;
            }
        }
    }
    
    
   .content {
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 12pt;
        display: block;
        text-align: left;
        padding: 4px;
        color: slategrey;
    }
    
}

.content-wrapper.prose.edit.hover,
.content-wrapper.prose.edit.active {
    
    .titlebar-wrapper {
         opacity: 1;
     }    
}

.content-wrapper.prose.edit {
    .content {
        cursor: text;
        min-height: 40px;
    }
}

.content-wrapper .content {
    font-size: 100%;
    /*padding: 0.3em;*/
    color: navy;
    font-family: fantasy sans-serif;
    text-align: center;
    white-space: normal;

    cursor: default;
    display: inline-block;

    /* Always maintain a border to avoid a jump when toggling */
    border: solid 2px transparent;
    visibility: hidden;

}

.content-wrapper.text .content {
    padding: 0.3em;
}

.content-wrapper.picture.edit .content {
    cursor: move;
}

.content-wrapper.picture.loading {
    background: url('/images/throbber-1.gif') no-repeat center;
    min-width: 18px;
    min-height: 18px;
}

.content-wrapper.prose .content.italic {
    font-style: italic;
}

.content-wrapper.prose .content.code {
   font-family: "Courier New", Courier, monospace;
}

.content-wrapper.prose .content.comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.content-wrapper.text .content.blue {
    border: solid 2px black;
    background-color: rgb(201, 229, 248);
    color: black;
}

.content-wrapper.text .content.yellow {
    border: solid 2px black;
    background-color: rgb(255, 246, 144);
    color: black;
}

.content-wrapper.text .content.white {
    border: solid 2px black;
    background-color: white;
    color: black;
}

.content-wrapper.text .content.black {
    border: solid 2px white;
    background-color: black;
    color: white;
}

.content-wrapper {
    position: absolute;
}

.prose {
    
    .content-wrapper {
        margin: 0px 4px;
        
        .content {
            border-width: 1px !important;
        }
    }
    
    .content-wrapper.edit {
        margin: 4px 4px;
    }
}

.content-wrapper .ui-resizable-handle {
    background-color: orange;
     transition: background-color 0.2s ease-in;
}
.content-wrapper.edit .content {
   border: dashed 2px orange;
   border-style: dashed !important;
   
   transition: border-color 0.2s ease-in;
}

.content-wrapper.edit .content:focus {
    outline: none;
}

.content-wrapper.edit.prose .content:focus {
    background-color: rgb(253, 244, 227);
    border-color: rgb(223, 108, 26) !important;
}

.content-wrapper:hover .ui-resizable-handle {
    background-color: rgb(223, 108, 26);
}

.content-wrapper.edit:hover .content {
   border-color: rgb(223, 108, 26);
}


.resizable-helper {
    border: dotted 2px orange;
}
.content-wrapper.top {
    z-index: 1;
}

.content.show {
    visibility: visible;
}

.content-wrapper.new .content{
    border: solid 2px orange;
}

.content-wrapper.center {
    text-align: center;
    left: 0;
    right:0;
}

.content-wrapper.middle {
    top: 50%;
    bottom: 50%;
    vertical-align: middle;
}

.content-wrapper.edit.text .content.edit {
    cursor: text !important;
}

.content-wrapper.edit.text .content {
    cursor: move;
}

.content-wrapper .titlebar-wrapper {
    text-align: right;
    /*height: 25px;*/
    /*visibility: hidden;*/
    opacity: 0;

    position: absolute;
    top: -22px;
    left: 0px;
    right: 0px;
    height: 34px;
    transition: opacity 0.2s ease-in;
}
/*.content-wrapper.text .titlebar-wrapper { 
    top: -22px;
}*/
.content-wrapper .titlebar {
    display: inline-block;
    padding: 2px 6px;
    /*padding-bottom: 2px;*/
    white-space: nowrap;
    
    position: absolute;
    right: 0px;
    top: -5px;
}

.content-wrapper .spacer  {
    position: absolute;
    bottom:8px;
    left:0px;
    right:0px;
    width: 100%;
    height: 8px;
    vertical-align: bottom;
    
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.content-wrapper .titlebar select {
    text-transform: capitalize;
}

/* Override JQUery UI default theme. Need to get my own CSS under tighter control */
.content-wrapper .titlebar .ui-selectmenu-button.ui-widget {
    width: 20px !important;
    font-size: inherit;
    border: none;
    background: none !important;
    /*background-color: transparent;*/
    padding: 0px;
    color: black;
}

.content-wrapper .titlebar span.ui-selectmenu-text {
    display: none;
    /*font-size: inherit;
    padding: 0px;
    line-height: inherit;
    margin-left: 25px;*/
}

.content-wrapper .titlebar .ui-icon {
    background-image: none !important;
    display:inline;
    position: static;
    padding: 2px;
}

.ui-selectmenu-menu.ui-front,
.ui-selectmenu-menu.ui-front .ui-widget-content {
    background-color: transparent;
    background-image: none;
}



.ui-menu .ui-menu-item {
    background-color: rgba(231, 231, 231, 0.9);
    background-image: none !important;
    font-size: 10pt;
    border-left: solid 3px maroon;
    margin: 0x 1px;
    
    text-transform: capitalize;
    padding: 4px 0px 4px 2px !important;
    /*color: #666;*/
}

.ui-menu-item .label {
    /*padding-right: 4px;*/
    margin-right: 4px;
    display:inline-block;
}

/* Thanks to http://apps.eky.hk/css-triangle-generator/ */
.ui-menu-item.selected  .selector{
   /* width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 13.9px 8px 0;
    border-color: transparent maroon transparent transparent;
    float: right;*/
}

.ui-menu-item .fi.selector {
    color: maroon;
    width: 16px;
    height: 16px;
    float: right;
    background-color: transparent;
    visibility: hidden;
}

.ui-menu-item.selected  .fi.selector {
    visibility: visible;
}

.ui-menu-item.ui-state-focus {
    background-color: rgba(255,255,255,0.95) !important;
    background-image: none!important;
    border: none !important;
    color: maroon !important;
    font-weight: normal !important;
    border-left: solid 3px orange !important;
    margin: 0px !important;
}

.ui-menu.ui-widget {
    border: none !important;
    border-left: solid 1px maroon !important;
    border-radius: 0px !important;
    overflow: hidden !important;
    padding-bottom: 0px !important;
}

.content-wrapper .titlebar select {
    
}


.content-wrapper .titlebar,
.content-wrapper .spacer {
    /*background-color: rgba(122, 122, 122, 0.8);*/
   /* background-color: rgb(122, 122, 122);*/
    background-color: rgb(255, 177, 37);
    transition: opacity 0.2s ease-in;
}

.content-wrapper.edit .titlebar {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(231, 179, 122);
}

.content-wrapper.edit .titlebar-wrapper {
    opacity: 0.4;
}

.content-wrapper.edit.hover .titlebar-wrapper,
.content-wrapper.edit.active .titlebar-wrapper,
.content-wrapper.edit .titlebar-wrapper:hover {
    opacity: 0.8;
}


.content-wrapper .titlebar .ui-selectmenu-button .fi {
    vertical-align: middle;
}

.content-wrapper .titlebar .fi {
    background-color: transparent;
    padding: 3px !important;
    border: none;
    border-radius: 50%;
    color: #383838;
    vertical-align: top;
}

.content-wrapper .titlebar .ui-selectmenu-button[aria-expanded=true] .fi,
.content-wrapper .titlebar .fi:hover {
   /* background-color: white;
    color: black;*/
   color: orange;
   background-color: black;
}

.content-wrapper .titlebar .fi.center:before {
     content: '\e823';
}

.content-wrapper .titlebar .fi.remove:before {
     content: '\e80a';
}

.content-wrapper .titlebar .fi.style:before {
     content: '\e821';
}

.content-wrapper .titlebar .fi.size:before {
     content: '\e824';
      
}

/* Add soem gentle styling to the JQuery drag handles */

.ui-resizable-handle {
    height: 10px !important;
    width: 10px !important;
    //background-color: rgb(223, 108, 26);
    border-radius: 50%;
}

.ui-resizable-handle  {
    z-index: 0!important;
}

.ui-resizable-handle.ui-resizable-w,
.ui-resizable-handle.ui-resizable-e {
    top: 50% !important;
    margin-top: -10px !important;
}

.ui-resizable-handle.ui-resizable-w {
    margin-left: -1px !important;
}

.ui-resizable-handle.ui-resizable-e {
    margin-right: -1px !important;
}

/*.ui-resizable-handle.ui-resizable-s {
    margin-top: 1px !important;
}*/


.ui-resizable-handle.ui-resizable-s,
.ui-resizable-handle.ui-resizable-n {
    left: 50% !important;
    margin-left: -5px !important;
}

.ui-wrapper {
    overflow: visible !important;
}
