@import "base.less";
/*@include "storytile_1.less";*/
@import "storytile.less";

  body {
    vertical-align: middle;
    font-size: 12pt;
    background-color: #F7FAFF;
    
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .welcome {
    vertical-align: middle;
    
    text-align: center;
  }
  
  .header {
      margin-top: 10%;
      font-size: 52pt;
      text-decoration: none;
      color: slategrey;
      display: inline-block;
  }
  
  .menu-wrapper {
    
  }
  
  .menu {
        border-top: solid 1px #c0c0c0;
        display: inline-block;
        color: grey;
        margin-top: 6px;
  }
  
  #userNode,
  .menu {
      cursor: default;
  }
  
  .menu span.item {
      cursor: pointer;
  }
  
  a.item {
     color: grey;
     text-decoration: none;
     margin-right: 4px;
  }
  
  .item.active {
    font-size: 110%;
    font-weight: bold;
  }
  
  .item.fade {
      opacity: 0.5;
  }
  
  .item.bold {
      font-weight: bold;
  }
  
  .item:hover {
      color: orange;
  }
  
  .nav a,
  .nav span,
  span.spacer {
      padding: 4px 6px;
  }
  
  .nav,
  .user {
    display: inline-block;
  }
  
  .userName,
  .user .name {
    font-weight: bold;
    padding-left: 4px;
  }
  
  /* Non-index styles */
  
  .storytellerNav .nav{
    position: absolute;
    left: 0px
  }
  
  .storytellerNav .user{
    position: absolute;
    right: 0px
  }
  
  .storytellerNav {
    position: absolute;
    
    top: 8px;
    left: 20px;
    right: 20px;
    height: 35px;
    
    border-bottom: solid 1px #c0c0c0;
  }
  
  .explanation {
    font-size: 12pt; 
    padding: 5px 60px;
  }
  
  
  .adminMenuTitle {
    margin-top: 20px;
    
    font-weight: bold;
    font-size: 120%;
    color: slategrey;
    
    border-bottom: 1px solid #c0c0c0;
    margin-left: 60px;
    margin-right: 60px
  }
  
  .playerMenu {
    margin-top:5px;
  }
  
  .playerName {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .playerLinks {
    display:inline-block;
  }
  
  .storybox {
    margin: 4px 2px;
  }
  
  .storybox .item {
    padding-left: 4px;
  }
  
  .command {
    color: #B85555;
    cursor: pointer;
  }
  
  .control {
    color: #c0c0c0;
  }
  
  .signin {
    color: #B85555;
  }
  
  .button {
    display: inline-block;
    border: solid 2px #666;
    color: black;
    cursor: pointer;
    
    margin-top: 4px;
    padding: 2px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding-right: 18px;
  }
  
  .button:hover {
      color: orange;
  }

  #csrf {
    display: none
  }

  .button .throbber {
    background: url('/images/pacman-load.gif') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    visibility: hidden;
    padding-right: 2px;
    vertical-align: middle;
  }

  .button .label {
    vertical-align: middle;
  }

  .button.loading .throbber {
    visibility: visible;
  }
  
  .button:hover {
    background-color: white;
  }
  
  input.error {
    border-color: red;
  }
  
  /* Style page descriptions */
  
  .content {
    /*border: solid 1px;
    background-color: #F1F7AF;*/
    color: grey;
    margin: 10px 30px;
    padding: 5px;
  }
  
  .content .subtitle {
    font-weight: bold;
    color: slategrey;
    margin: 4px 0px;
  }
  
  .content .group {
    margin-bottom: 8px;
  }
  
  .content .message {
    font-weight: normal;
    color: slategrey;
  }
  
  .content .story .storyType {
    display: inline-block;
    padding: 5px 0px;
    color: cornflowerblue;
    font-size: 80%;
    /*font-weight: normal;*/
  }
  
  .content a.item {
    text-decoration: underline;
    color: rgb(51,51,82);
  }
  
  .content .field {
    padding: 4px 0px;
  }
  
  .content .field .name{
    display: inline-block;
    cursor: default;
  }

  .intro,
  .quote {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-bottom: 8px;  
  }

  .intro {
    max-width: 400px;
  }

  .quote {
    max-width: 350px;
    /*padding-left: 50px;*/
    font-style: italic;
  }


  .intro.storylink {
    text-align: center;
  }

 .intro.storylink a {
    color: slategrey;
    font-weight: bold;
  }

  #messageNode {
    display: none;
    color: maroon;
  }

  #messageNode.visible {
    display: block;
  }
  
  /* sloppy... */
  #message {
      margin-top: 6px;
      color: maroon;
  }
  
  .footer {
      padding: 35px 0px;
      color: slategrey;
      opacity: 0.8;
      
      position: relative;
      bottom: 20px;
      text-align: center;
  }
  
  .footer span {
      font-size: 80%;
  }
  
  .footer .contact {
      display: block;
  }

  .updatePassword {
      display: block;
      margin-top: 8px;
      cursor: pointer;
      text-decoration: underline;
  }
  
  #pwForm {
      display: none;
  }
  
  #pwForm.show {
      display: block;
  }
  
  #saveMessage {
      display: none;
      color: maroon;
  }
  
  #saveMessage.show {
      display: block;
  }
  
  .intro li {
      padding-right: 15px;
      margin-bottom: 12px;
      display: block;
  }
  
    li:before {    
        font-family: "Storyteller Icons";
        content: '\e805';
        margin:0 5px 0 -20px;
       /* color: #f00;*/
    }