@import "base.less";

body {
    background-color: #666;
    margin: 0px;
    overflow: hidden;
}

header, footer {
    position: absolute;
    background-color: black;
    height: 40px;
    left: 0px;
    right: 0px;
}

header {
    /*border-bottom: solid 2px white;*/
    padding-top: 4px;
    top: 0px;
    color: white;

    text-align: center;
    font-weight: bold;

    /*z-index: 100;*/
}

textarea {
    resize: none;
    width: 300px;
    height: 60px;
    padding: 4px;
}

input {
    padding: 4px; 
    border: none;
}

select {
    padding: 2px;
    border-radius: 6px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(76,106,255,1);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(76,106,255,1);
    box-shadow: inset 0px 0px 2px 0px rgba(76,106,255,1);
}

input,
textarea {
    border-radius: 4px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
    box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
}

label.check {
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
    box-shadow: inset 0px 0px 4px 0px rgba(76,106,255,1);
}

.user {
    display: inline-block;
}

/*.user .item {
        padding: 2px 6px;
}*/

.user .item.bold {
    font-weight: bold;
}

.user .item.fade {
    opacity: 0.8
}

.user a {
    color: white;
    text-decoration: none;
}

.user .item:hover,
.user a:hover {
    color: orange;
}

.user .spacer {
    padding: 0px 4px;
    opacity: 0.75;
    cursor: default;
}

.titleTray {
    display: inline-block;

    border-bottom: solid 2px slategray;
    border-right: solid 2px slategray;
    background-color: black;
    
    padding: 4px 8px;
    /*border-radius: 5px;*/
    margin-left: auto;
    margin-right: auto;
    color: white;
    
    position: absolute;
    top: 0px;
    z-index: 101;
    
    font-size: 160%;
}

.titleTray.collapsable {
    left: -18px;
    transition: width 1s;
    
    background-color: #c0c0c0;
    
    border-radius: 6px;
    
    .pagetitle,
    .fi {
        color: slategrey;
    }
}

.titleTray.collapse {

    .pagetitle,
    .fi {
        display: none;
    }
}

.pageContainer.storyteller .prose.active .titleTray.collapse {

    .pagetitle,
    .fi {
        display: inline-block;
    }
}

.titleTray .fi.editOnly {
    display: none;
}
.titleTray.edit .fi.editOnly {
    display: inline-block;
}

.titleTray.edit .fi.editOnly, 
.titleTray span {
    /*display: inline-block;*/
    margin: 0px 2px;
    vertical-align: middle;
}

.page.prose.previous .titleTray .fi.edit {
    visibility: hidden;
}

.page.prose.active .titleTray .fi.edit,
.page.prose.previous .titleTray:hover .fi.edit {
    visibility: visible;
}

.titleTray .pagetitle,
.titleTray .pageNumber {
    cursor: default;
}

.titleTray .pagetitle {
    cursor: default;
    padding: 2px;
    border: solid 1px transparent;
}

.titleTray.edit .pagetitle {
    border: dashed 1px slategray;
    cursor: text;
}

.titleTray .fi {
    color: #c0c0c0;
    background-color: transparent;
}

.titleTray .fi:hover {
    color: orange;
}

.page.prose {
    
    background-color: #F7FAFF;
    position: static;
    max-width: 900px;
    
    .body {
        border: solid 1px transparent;
        border-top: solid 1px #c0c0c0;
        margin: 0px 4px;
        padding-top: 8px;
        
    }
    
    .buttonGroup {
        position: static;
        display: inline-block;
    }
    
    .header {
        display: flex;
        align-items: flex-end;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
        
        position: relative;
        top: 14px;
        
        .cell {
            flex: 1;
        }
        
        .cell:last-child {
            text-align: right;
        }
        
        .titleTray {
            font-size: 100%;
            position: relative;
            top: 2px;
            padding-top: 4px;
            
            background-color: transparent;
            color: slategrey;
            border: none;
            padding: 2px;
            margin-left: 4px;
       }
       
       .titleTray.collapsable {
            background-color: #c0c0c0;
       }
       
        .status {
            position: relative;
            display: inline-block;
            top: 2px;
            right: 0px;

            color: white;
            background-color: black;
            border-color: #c0c0c0;
            margin-left:20px;
            border-width: 2px;
        }

        .status:hover {
            color: slategrey;
            background-color: #c0c0c0;
            border-color: #c0c0c0;
        }
        
        .buttonGroup {
            color: #c0c0c0;
            
           /* .button {
                background-color: p#F7FAFF;
            }*/
        }
        
        .buttonGroup:hover {
            color: slategrey;
        }
    } 
    
    .footer {
        position: relative;
        top: -12px;
    }
    
    .pageControls {
         text-align: center;

         .top {
             vertical-align: top;
         }

         .buttonGroup {
             position: static;
             display: inline-block;
         }

         .header {
            display: none; 
         }

         .button {
             border: none;
             border-left: solid 1px #c0c0c0;
             border-right: solid 1px #c0c0c0;
             background-color: white;

             padding: 2px 5px;
            /* color: slategrey;*/

         }

         .button:hover {
             padding: 4px 10px;
         }
        
                      
        .commandTray .fi {
            color: slategrey;
            background-color: white;
            border-radius: 2px;
            border: solid 1px #c0c0c0;
        }
        
        .commandTray .fi:hover {
            background-color: orange;
        }
         
         .buttonContainer.edit {
            .button:hover {
                padding: 2px 5px !important; /* stop the button resizing in edit mode */
            }
        }
         
     }
     
    .buttonGroup {
        
        .button {
            background-color: #F7FAFF;
        }
    }
}

div.page.prose.active {

    .body {
        border-color: #c0c0c0;
        padding-bottom: 28px;
        /*border-left-color: #c0c0c0;*/
    }
    
    .titleTray {
        background-color: #c0c0c0;
        color: slategrey;
    }
    
    .titleTray  .fi {
        color: slategrey;
    }
    
    .titleTray  .fi:hover {
        color: orange;
    }
}

div.page.prose.previous {
    
    .footer {
        display: none;
    }

}

div.page.prose.next {
    display: none;
}



#chatRoot {
    position: absolute;
    top: 10px;
    left: 10px;

    cursor: default;

    font-weight: normal;
}

#logRoot {
    display: none;
    position: absolute;
    top: 10px;
    left: 90px;

    cursor: default;

    font-weight: normal;
}

#playerUi {
    position: absolute;
    top: 10px;
    right: 10px;

    font-weight: normal;
    text-align: left;
}

#storyTitle {
    visibility: hidden;
}

#storyTitle.show {
    visibility: visible;
}

#storyTitle .title {
    display: inline-block;
    font-size: 200%;
    cursor: pointer;
}

/*#storyTitle:hover .fi,*/
#storyTitle .fi:hover,
#storyTitle .title:hover {
    color: orange;
}


#storyTitle .fi {
    transition: none;
    padding-bottom: 15px;
    vertical-align: middle;
    background: none;
    color: white;
    border: none;
}

.edit-toolbar {
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    /*display: none;*/
    top: 40px;
    height: 35px;

    border-bottom: solid 2px;
    text-align:right;
   /* z-index:100;*/
}

.edit-toolbar .button:hover {
    color: orange;
    background-color: black;
    border-color: rgb(213, 158, 19);
}

.edit-toolbar .button {
    display: none !important;
}

.edit-toolbar.enable .button {
    display: inline-block !important;
}

.page .background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    z-index: -1;
    background-size: 100% 100%;
}

.page .background.fade {
    opacity: 0.4;		
}

.edit-toolbar.enable {
    display: block;
}

.edit-toolbar .button {
    display: inline-block;
    width: 120px;
    background-color: #111;
    color: white;
    height: 20px;
    border-radius: 0;
    text-align: center;
    border: solid 2px #888;
}

footer {
    /*border-top: solid 2px white;*/
    bottom: 0px;
    text-align: center;
}

footer .about {
    cursor: default;
    font-size: 80%;
    color: #8B8B8B;
    margin-top: 12px;
}

footer .version {
    margin-right: 6px;
}

footer .contact {
    display: block;
}

/* TODO - rename to.. uh, container? window? frame? */
/*.app-body { */
/*.storyboard {*/
.sidebar,
.storyboard {
    overflow: hidden;
    position: absolute;

    top: 75px;
    bottom: 40px;
    left: 0px;
    right: 0px;

    display: table-row;
} 

.sidebar.noToolbar,
.storyboard.noToolbar {
    
    top: 44px;
}

.sidebar {
    /*background-color: blue;*/
    /*border: dashed 2px red;*/
    margin-top: 2px;
    overflow: hidden;
    right:auto;
    visibility: hidden;
}

.pageContainer {
    position: absolute;
   
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
}

.pageContainer.active {
        z-index: 1;
}

.pageContainer.animate {
    -webkit-transition: top 0.5s, bottom 0.5s;
    transition: top 0.5s, bottom 0.5s;
}

div.page {
    position: absolute;
    top: 2px;
    bottom: 0px;
    /*left: 10px;
    right: 10px;*/
    margin-left: auto;
    margin-right: auto;

    min-width: 200px;

    border: solid 10px navyblue;
    background-color:white;

    display: none;
    
    overflow: visible;
}

div.page.comic {
    display: none;    
}


/* experimental home-made page transitions */
/* consider using a library for this */
div.page.animate {
    -webkit-transition: left 0.5s, right 0.5s;
    transition: left 0.5s, right 0.5s;
}

div.page .storyboard {
    display: none;
}

div.page .storyboard.active {
    display: block;
}

div.page.active,
div.page.next,
div.page.previous {
    display: block;
}

div.page.active {
    z-index: 0; /* Just ensure there's no overlap '*/
}

div.page.next,
div.page.previous {
    /*visibility: hidden;*/
    z-index: -1;
} 

.buttonGroup {
    position: absolute;
    bottom: 0px;
    z-index: 100;
}

.buttonGroup.left,
.buttonGroup.right {
    display: table;
    border-spacing: 0px 12px;
}

.buttonGroup.left {
    left: 5px;
    text-align: left;
}

.buttonGroup.right {
    right: 5px;
    text-align: right;
}

.buttonGroup.center {
    /*margin-left: auto;
    margin-right: auto;*/
    left: 100px;
    right: 100px;
    text-align: center;
    z-index: 99;
}

.buttonGroup.horiz .button {
    display: inline;
}



/* Set up the JQ dialog */

.ui-dialog {
    position: absolute;
    border: solid 1px;
    background-color: white;
    z-index: 101;

    font-size: 12px !important;	
}

.ui-dialog-titlebar {
    background-color: black !important;
    color: white;
    font-weight: bold;
    background-image: none !important;
    border: none !important;

    /*height: 20px;
    padding-top: 5px;*/
}

.ui-dialog-titlebar .ui-button {
    color: black !important;
    border: none !important;
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: 0;
}

/*.ui-dialog-content {
    padding: 6px;
    
    position: absolute !important;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 0px;
} */

.ui-dialog .commands {
    text-align: center;
    min-width: 80px;
}

.ui-dialog label {
    width: 60px;
}

.ui-widget-overlay.ui-front {
    background-color: black;
    opacity: 0.4;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ui-dialog-content .intro {
    padding-bottom: 5px;
}

.ui-dialog-content .commands {
    padding-top: 5px;
}

.ui-dialog-content .commands .button {
    display: inline-block;
}

/*.st-form {
    display: table;
    width: 100%;
}*/

.st-dialog-body .field {
    display: table-row;
}

.st-dialog-body .field .label,
.st-dialog-body .field input {
    display: table-cell;
}

.st-dialog-body .field input.stretch {
    width: 100%;
}

.status {
    visibility: hidden;
    border: solid 3px maroon;
    position: absolute;
    right: 5px;
    top: 5px;

    background-color: lemonchiffon;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.prose .status.show {
    display: table-cell;
    visibility: visible;
}

.comic .status.show {
    display: block;
    visibility: visible;
}

.status.show:hover {
    background-color: yellow;
    border-color: red;
}

.pageData {
    display: none;
    border: solid 3px maroon;
    position: absolute;
    background-color: yellow;

    cursor: default;
}

.pageData.show {
    display: table-row;
    z-index: 10;
}

.pageData,
.pageData .collapseBar {
    border-bottom-right-radius: 25px;
}

.pageData.collapsed {
    left: -10px;
}

.pageData.collapsed .data-content {
    max-width: 0px;
    visibility: hidden;
}

.pageData .collapseBar,
.pageData .data-content {
    display: table-cell;
}

.pageData.data-content {
    padding: 5px;
}

.pageData .collapseBar {
    width: 20px;
    color: yellow;
    background-color: maroon;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.pageData .dataField {
    display: table-row;
}

.dataField.label {
    font-weight: bold;
    cursor: default;
}

.pageData .dataField .dataField.label,
.pageData .dataField .dataField.input {
    display: table-cell;
    
}

.pageData .dataField {
    white-space: nowrap;
}

input[type=checkbox].dataField.input {
    display: none;
}

label.check {
    display: inline-block;
    width: 16px;
    height: 16px;
    /*border: solid 1px black;*/
    background-color: white;
    
    font-family: "Storyteller Icons2";
    color: green;
    overflow: visible;
    font-size: 16px;
    
    margin-top: 6px
}

label.check.checked:before {
    content: '\e800';
}

#responseDialog .label {
    padding-right: 4px;
}

/* custom autocomplete styles */
.item.autocomplete span {
    white-space: nowrap;
}

.item.autocomplete .command {
   color: blue;
   font-size: 80%;
}

.ui-autocomplete .ui-menu-item {
    font-size: 12px;
    font-weight: normal !important;
}

.tooltipster-base.st-tooltips-ok {
    border-color: green !important;
    color: green !important;
    background-color: lemonchiffon !important;
}

.tooltipster-base.theme-ok {
    
}


.tooltipster-content .st-form .header {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border-bottom: solid 1px white;
    margin-bottom: 6px;
    padding-bottom: 4px;
}

.tooltipster-content .st-form .dataField {
    display: table-row;
    margin: 4px;
}

.tooltipster-content .st-form .dataField.label {
    display: table-cell;
    vertical-align: top;
    padding-top: 8px;
}

.tooltipster-content .st-form .warning {
    color: red;
    margin-bottom:6px;
}

.tooltipster-content .st-form .group{
    display: block;
    margin: 4px 0px;
    text-align: center;
}

.tooltipster-content .st-form .button {
    border: solid 2px #c0c0c0;
    background-color: slategrey;
    color: #c0c0c0;
    display: inline-block;
    margin: 0px 2px;
}

.tooltipster-content .st-form .button.active {
    color: white;
    border-color: white;
}

.tooltipster-content .st-form .button.active:hover {
    color: orange;
    border-color: orange;
}
