  
  .storytile {
      display: inline-block;
      padding: 4px;
      
      border-left: solid 1px slategrey;
      border-right: solid 1px slategrey;
  }
  
  .storytile.focus {
      background-color: lemonchiffon;
      border-left: solid 1px slategrey;
      border-right: solid 1px slategrey;
  }
  
  .storytile .body {
      /*display: table-row;*/
      display: inline-flex;
  }
  
  .storytile .cell {
      /*display: table-cell;*/
      flex: 1;
      -webkit-transition: all 1s;
      transition: all 1s;
      overflow:hidden;
  }
  
  .storytile .cell.wing {
      flex: 0;
      max-width: 0px;
      display: none;
  }
  
  .storytile.focus .cell.wing {
      flex: 1;
      max-width: none;
      display: inline-block;
  }
  
  .storytile .name {
      font-weight: bold;
  }
  
  .storytile .title {
      font-weight: bold;
  }
  
  .storytile .storytitle {
      font-weight: bold;
      font-size: 120%;
  }
  
  .storytile .storyType {
    color: cornflowerblue;
    font-size: 80%;
  }