.storytile{
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 8px;
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer !important;
    vertical-align: top;
}

.storytile:hover {
    background-color: lemonchiffon;
    border-color: #c0c0c0;
}

.storytile .storytitle {
    border-bottom: solid 1px #c0c0c0;
    margin-bottom: 4px;
}

.storytile .storytitle .title {
    font-weight: bold;
    font-size: 120%;
    color: inherit;
}

.storytile .storytitle .fi.remove {
    background: none;
    border: none;
}

.storytile .desc span {
    margin: 0px 4px;
}

.storytile .desc .type {
    color: cornflowerblue;
}

.storytile .desc .name {
    font-weight:bold;
}

.storytile .stats {
    opacity: 0.8;
    font-size: 80%;
}

.storytile .stats .timestamp,
.storytile .stats span {
    display: inline-block;
    margin-right: 4px;
}

.storytile .player {
    display: inline;
    marign-left: 4px;
    font-weight: bold;
}