extends ../../layouts/home

block content
	.intro As a thank-you to my patient Alpha Testers, here's a preview of a story I've created using Storyteller. 
		It's just a teaser, but it should give you a flavour of what to expect.
	.intro It's important to understand that this is an early preview version of the game, 
		and there are a great number of changes ahead. Just like this website, Streak Free
		is a working prototype, an early demonstration, a proof-of-concept. It's also 
		important to point out that this story is just a small part of what Storyteller
		will be. There's none of the interactivity and collaboration which is so important to
		the final result: it's a simple, pre-authored story which was built using the 
		technology I've produced so far.
	.intro So take what you see with a pinch of salt - but please do enjoy it nevertheless.

	.intro
		span="The story itself was written by me. The beautiful hand-drawn images were produced by "
		a(href="http://www.owlstation.com", target="none")="Owlstation"
		span="."
	.intro
		b Warning:
		span explicit language within (one f-bomb).
	.intro.storylink
		a(href="story/streak-free")="Streak Free"
	.intro 
		div(style="text-align:right;margin-right:50px;")
			a(href="http://www.twitter.com/jjc_uk", target="none")="Joe"
		div(style="text-align:right;margin-right:50px;")="July 2014"
