extends ../../layouts/home

block content
	.subtitle="Who Are We?"
	.intro="Electronic Poets are the proud developers of Storyteller (coming soon) and the Good News Engine (coming not-so-soon)."
	.intro="We are a small software house with big ideas, built on principles of generosity, honesty and social conscience. These values are infused into everything we do."
	.intro="This is a temporary website which we've set up while we prepare our first products for public eyes."
	.subtitle="Why 'Electronic Poets'?"
	.intro="An Electric Monk is a machine designed by a mysterious alien race with the simple purpose of believing in things. It is, according to its creator, Douglas Adams, a labour-saving device designed to maintain the requisite level of belief in the universe while alleviating the burden of that belief from its creators. The Electric Monk has the capacity to believe all sorts of things: silly and serious, fleeting and profound, contradictory and arbitrary. They are described thusly:"
	.quote='"So the Monks were built with an eye for originality of design and also for practical horse-riding ability. This was important. People, and indeed things, looked more sincere on a horse. So two legs were held to be both more suitable and cheaper than the more normal primes of seventeen, nineteen or twenty-three; the skin the Monks were given was pinkish-looking instead of purple, soft and smooth instead of crenellated. They were also restricted to just one mouth and nose, but were given instead an additional eye, making for a grand total of two. A strange looking creature indeed. But truly excellent at believing the most preposterous things."'
	.intro="The implication, of course, is that we are all Electric Monks. That we are but machines designed many thousands of years ago with an arbitrary and infinite capacity for belief, regardless of the evidence our senses (both physical and mental) present to us. It's a typically Adams idea: hilarious nonsense with more than a grain of truth about it."
	.intro="We believe that we are all Electric Poets, too: creatures with an infinite and arbitrary capacity to perceive poetry in all things. In base reproduction - the first requirement for all life - and we see romance. In landscapes - arbitrary formations of organic and mineral matter produced by the motions of the planet - and we see beauty. In patterns of colours and lines impressed onto a cave wall we see characters - people and animals and monsters and angels. Not only that, but we ascribe volition and emotions to these pictorial effigies. We empathise with them, building relationships and using them to tell stories and to reflect upon ourselves. It's a uniquely human thing which divides us from our extended genetic family across the animal kingdom."
	.intro="We’ve re-aligned the morphology of Electric Poet to the more phonetically-pleasing Electronic Poet. But the idea is the same: we perceive poetry all around us and occasionally try to capture it in alphanumeric symbols. Since we operate mostly through the Internet, we consider ourselves to be a little more electronic than most."
	.intro="But to be an Electronic Poet means something else, as well. The poets of old voiced their creations out loud to one another, and then later transcribed their art to paper. The modern world has a different sort of poetry: computer code. Like poetry, code is highly structured, it is layered with meaning and metaphor, and it can be beautiful in its own right. And let’s not forget that, when properly rendered, computer code can be emotionally affecting, too. So a rather romantic way of describing a computer programmer is to call her an Electronic Poet."
	.intro="Which is precisely what we intend to do."