extends ../../layouts/home

block content
    .intro="Welcome to the (temporary) Electronic Poets homepage."
    .intro="We are an independent games developer studio based on Brighton, on the Sunny (ish) South Coast of England."
    .intro="This page, like our organisation, is under development. Feel free to click around and get to know us."
