extends ../../layouts/home

block jsimports
	script(src="/js/web/create.js")
	script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
	.intro To get access to the Storyteller Alpha Test, please sign-up for an account here. To register, you either have to be on our mailing list (you'll know if you are) or enter the secret sign-up code in the box below.
	.intro
		span Not authorised for testing yet? You can sign-up to our 
		a(href="/storyteller") Beta Tester mailing list 
		span and we'll be in touch when we're ready to share Storyteller with the world.
	.messages
	#csrf(csrf=csrf_token_key, csrf-key=csrf_token_value)
	.field
		span.fieldName="E-mail Address:"
		span.fieldValue
		input#email
	.field
		span.fieldName="User Name:"
		span.fieldValue
		input#userName
	.field
		span.fieldName="Sign Up Code"
		span.fieldValue
		input#code
	div
		.button(onclick="register(this)")
			span.throbber
			span.label="Register"
	#message
