extends ../../layouts/home

block jsimports
        script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
    .intro="Electronic Poets are building a multiplayer storytelling game: at the moment, we're calling it Storyteller."
    .intro="We're working in our spare time (a resource which seems to be a little short at the moment), so it'll be a little while before we're ready to share it with the world."
    if !user
        .intro="If you want to be kept up-to-date, please enter your e-mail address below to be added to our mailer (be warned: we won't be sending out mail details for a little while)."
        .field
            span.fieldName="E-mail Address:"
            span.fieldValue
            input#email
        div
            .button(onclick="betaSignup(this)")
                    span.throbber
                    span.label="Register"
        #message