extends ../../layouts/home

block jsimports
	script(src="/js/web/create.js")
	script(src="/js/web/user.js")
	script(src="/js/lib/jquery-2.1.0/jquery.js")

block content
	if !user.isPreviewAuthed
		.intro
			span="To access the Alpha Test, please fill out "
			a(href="https://www.surveymonkey.com/s/6NB2JHQ")="this short survey"
			span=". Once you're finished, you'll be given an authorisation code to enter below."
		.field
			span.fieldName="Authorisation Code:"
				span.fieldValue
					input(onKeyPress="onKeyPress(event)")#authCode
				//-input(onKeyPress="(function(evt) { console.log(evt.key); if(evt.key=='Enter') { auth(); } })(evt)")#authCode
		.field
			.button(onclick="auth(this)")
				span.throbber
				span.label="Submit"
	else 
		.intro(style="text-align:center;")
			span="Thanks for completing the survey."
	#messageNode
		.intro="Sorry, that doesn't seem to be a valid code."
		.intro
			span="Having problems? Send us an email at "
			a(mailto="info@electronicpoets.co.uk")="info@electronicpoets.co.uk"
	.subtitle Update Details
	.field
		span.fieldName="E-mail Address"
			span.fieldValue
			input(onKeyPress="onKeyPress(event)", value="#{user.email}", data-original="#{user.email}", data-delta="email")
	.field
		span.fieldName="User Name"
		span.fieldValue
			input(onKeyPress="onKeyPress(event)", value=user.moniker, data-original="#{user.moniker}", data-delta="moniker")
	.field
		span.fieldName="First Name"
		span.fieldValue
			input(onKeyPress="onKeyPress(event)", value=user.name.first, data-original="#{user.name.first}", data-delta="name.first")
	.field
		span.fieldName="Last Name"
		span.fieldValue
			input(onKeyPress="onKeyPress(event)", value=user.name.last, data-original="#{user.name.last}", 	data-delta="name.last")
	span.updatePassword(onClick="togglePwForm('pwForm')") Update Password
	#pwForm
		.field
			span.fieldName="Old Password"
			span.fieldValue
				input(onKeyPress="onKeyPress(event)", data-delta="pw", type="password")#oldPw
		.field
			span.fieldName="New Password"
			span.fieldValue
				input(onKeyPress="onKeyPress(event)", data-delta="pw1", type="password")#newPw1
		.field
			span.fieldName="Re-Enter Password"
			span.fieldValue
				input(onKeyPress="onKeyPress(event)", data-delta="pw2", type="password")#newPw2
	#saveButton.button(onclick="saveDetails()")
		span.throbber
		span.label Save
	#saveMessage

