@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?94374788');
  src: url('../font/fontello.eot?94374788#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?94374788') format('woff'),
       url('../font/fontello.ttf?94374788') format('truetype'),
       url('../font/fontello.svg?94374788#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94374788#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-left-big:before { content: '\e804'; } /* '' */
.icon-rocket:before { content: '\e805'; } /* '' */
.icon-bullseye:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-attention-alt:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\e814'; } /* '' */
.icon-block:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-address:before { content: '\e817'; } /* '' */
.icon-quote-left:before { content: '\e818'; } /* '' */
.icon-ok-circle:before { content: '\e819'; } /* '' */
.icon-cancel-circle:before { content: '\e81a'; } /* '' */
.icon-spread:before { content: '\e81b'; } /* '' */
.icon-doc-new:before { content: '\e81c'; } /* '' */
.icon-doc-new-circled:before { content: '\e81d'; } /* '' */
.icon-quote-circled:before { content: '\e81e'; } /* '' */
.icon-picture:before { content: '\e81f'; } /* '' */
.icon-paper-plane:before { content: '\e820'; } /* '' */
.icon-brush:before { content: '\e821'; } /* '' */
.icon-pencil-1:before { content: '\e822'; } /* '' */
.icon-resize-small:before { content: '\e823'; } /* '' */
.icon-fontsize:before { content: '\e824'; } /* '' */
.icon-brush-alt:before { content: '\e825'; } /* '' */
.icon-left-hand:before { content: '\e826'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-lock-open:before { content: '\e828'; } /* '' */