
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-left-big:before { content: '\e804'; } /* '' */
.icon-rocket:before { content: '\e805'; } /* '' */
.icon-bullseye:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-attention-alt:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\e814'; } /* '' */
.icon-block:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-address:before { content: '\e817'; } /* '' */
.icon-quote-left:before { content: '\e818'; } /* '' */
.icon-ok-circle:before { content: '\e819'; } /* '' */
.icon-cancel-circle:before { content: '\e81a'; } /* '' */
.icon-spread:before { content: '\e81b'; } /* '' */
.icon-doc-new:before { content: '\e81c'; } /* '' */
.icon-doc-new-circled:before { content: '\e81d'; } /* '' */
.icon-quote-circled:before { content: '\e81e'; } /* '' */
.icon-picture:before { content: '\e81f'; } /* '' */
.icon-paper-plane:before { content: '\e820'; } /* '' */
.icon-brush:before { content: '\e821'; } /* '' */
.icon-pencil-1:before { content: '\e822'; } /* '' */
.icon-resize-small:before { content: '\e823'; } /* '' */
.icon-fontsize:before { content: '\e824'; } /* '' */
.icon-brush-alt:before { content: '\e825'; } /* '' */
.icon-left-hand:before { content: '\e826'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-lock-open:before { content: '\e828'; } /* '' */