#header {
	margin-top: 30px;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right:0px;
	height: 60px;
	
	font-size: 8pt;
	text-align: center;
	padding-top: 15px;
	
	border-top: 1px solid @gray-lighter;
	color: @gray-light;
}