.header 
	h1 -Electronic Poets-
block content

.footer(style="color:grey")
	p Electronic Poets
	p(style="font-size: 70%") You are receiving this e-mail becuase you're signed up to the Alpha Test of Storyteller. Confused? Head to www.electronicpoets.co.ukThis e-mail was auto-generated by the Electronic Poets mailer robot. 