doctype html
include ../mixins/flash-messages

html
	head
		if mode=="web"
			title="Electronic Poets"
		else
			title="Storyteller"
		link(rel="stylesheet", href="/styles/st-client/index.css")
		
		script(src="/js/web/index.js")
		block jsimports
				
body
	
	.welcome
		if mode=="web"
			a.header(href="/")="Electronic Poets"
		else
			a.header(href="/")="Storyteller"
		.menu-wrapper
				.menu
					span
						.nav
							if links
								each link in links
									if link.active
										a.item.active(href=link.target)=link.name
									else
										a.item(href=link.target)=link.name
					span.spacer="|"
					span
						include ../views/user.jade
				if sublinks
					.submenu
						.nav
							each link in sublinks
								if link.active
									a.item.active(href=link.target)=link.name
								else
									a.item(href=link.target)=link.name
		
		
		//- define a content block where page-specific stuff goes
		.content
			block content
	.footer
		span.version="v"+version
		span.ep &#169;Electronic Poets 2014
		span.contact info@electronicpoets.co.uk