extends ../layouts/email

block content
	p Hi #{player},
	p 
		span We thought you'd like to know that you have new chat messages waiting in 
		a(href="#{host}/story/#{story_path}") #{story_name}
	p You'd best sign-in and take a look!
	p Thanks,
