extends ../layouts/email

block content
	p Hi #{player},
	p 
		span Your story 
		a(href="#{host}/story/#{story_path}") #{story_name} 
		span has been updated!
	p Log-in to see what's new and take your next turn.
	p Thanks,
