extends ../layouts/email

block content
	p Hi #{storyteller},
	p 
		Player #{player_name} has chosen an action in Story 
		a(href="#{host}/story/#{story_path}") #{story_name}
	p Log-in to see what's new and decide what happens next.
	
	p Thanks,