extends ../layouts/email

block content
	p Hi #{player},
	p 
		span A new player has joined your story 
		a(href="#{host}/story/#{story_path}") #{story_name}
	p You'd best sign-in and take a look!
	p Thanks,
