mixin printStory(story)
  .story(data-storyId=story.id)
    span.title=story.title
    if story.isStoryteller
      span.control="["
      span.command(onclick="removeStory(this)")="x"
      span.control="]"
    else if user && story.storyteller && story.storyteller.length>0
      .user
        span="by"
        span.name=story.storyteller[0].getName()
    .stats
      .storyType=story.type
    //- print how many players are in the room vs how many are involved
    //- print some stats