mixin storyTile(story)
  .storytile(data-storyId=story.id)
    .storytitle
        span.title=story.title
        if story.isStoryteller || (user && user.canAccessKeystone)
            span.command.fi.remove
    .body
        .desc
            span A
            span.type=story.type
            span by
            span.name=story.stName
        if story.players && story.players.length>0
            .playerList
                span Featuring:
                each player in story.players
                    .player=player.getName()
        if story.createdAt
            .stats
                span Created:
                span(data-moment=story.createdAt)
        if story.updatedAt
            .stats
                span Updated:
                span(data-moment=story.updatedAt)
