extends ../../layouts/home

block content
	.subtitle="About the Alpha"
	.intro <b>Important Disclaimer! </b> Please be aware that everything you see is subject to change, and no guarantee is made that any stories you create will be preserved once the Alpha shuts down. Any private details you offer to Electronic Poets will not be distributed or sold to third parties, and will be held in the strictest confidence.
	.intro="It's important to bear in mind that this Alpha Test is nothing more than a proof of concept. It's an opportunity to test the idea of Storyteller at its most basic level, to try and get a feel for how well people engage with it, understand it, and want to explore it. "
	.intro="The Alpha Test is a rough draft, a sketch, a wireframe, a storyboard. That means that most of the implementation is rushed, many features are stripped back, and things like pretty graphics and clear documentation are secondary concerns. Alpha Testers will have to be patient at times, will have to learn how the system is intended to work, and will have to use a little imagination. The experience should be fun: if it's not, then serious questions have to be asked about the viability of the project."
	.intro="Storyteller will actually, ultimately, be two things. First will be the game itself, and the set of tools which players use to create stories with the game engine. That's the exciting, sexy bit. But on top of that is the need for a thriving community, like deviantART or Wattpad provides, which makes it easy to find stories, share stories, get feedback and make friends. That community is a major project - and one which will barely even be touched during the Alpha. Some key community features will be in place, but they'll be particularly rough around the edges."
	.intro="Thank you for your time - however much or little you can give. And enjoy storytelling!"
	