extends ../../layouts/home

block content
	.subtitle="Upcoming Features"
	.intro="The Storyteller Alpha is just a glimpse of what to come. I have a lot of things planned - some you should see during the Alpha, others will be trialed during the next round of testing."
	.subtitle="Text-only Stories"
	.intro="[Introduced on 12th October!] Stories currently have to be made like comic books, using text and pictures to capture a narrative. And that's great for a lot of people, as well as for the creation of web comics. But text, in a lot of ways, is richer, more expressive, and is certainly easier to produce. So I plan to introduce stories heavy on text and light on pictures."
	.subtitle="Quality Editing"
	.intro="The current 'page editor' - the tool which you use to add and edit content - is very crude. Eventually, I hope to turn this into a serious piece of kit which can create rich, complex pages of content with animations, sound effects, the works. Something that you can build a sophisticated web comic with. But I'm a long way away from that - and making the editor into a serious aplpication is out of the scope for this Alpha test. For the moment, I just want it to to be good enough."
	.intro="I wanted this to be part of the very first Alpha release: figuring that it would be easier to do this than implement the image browser (see above). But actually, there are a few hidden challenges to getting this to work well, so I'm going to work on it separately and test it later. "
	.subtitle="True Multiplayer"
	.intro="I'm currently simplifying EVERYTHING by limiting games to only include two players. This won't be the case forever: a story should be able to include any number of players (although the more there are, the harder life is for the Storyteller). The challenge here is mostly in the User Interface design."
	.subtitle="Write Off"
	.intro="Some of you will remember the Write Off from deviantART: a semi-competitive game where players have 20 minutes to write a piece of prose or poetry based on a random prompt. On deviantART, I had to make do with lots of inadequate tooling, and players had to trust that random words really were randomly drawn from a hat (they actually were, I promise). "
	.intro="Storyteller gives me a great opportunity to produce a bespoke version of the  Write Off, and I think it can work really well. I'd like to test this in the Alpha, but it might be too much work and complexity to introduce at this stage. But it's coming, oh yes."
	.subtitle="Adventure"
	.intro="All the Storyteller games are pretty loosely defined: it's just players swapping pages of text. But what if we bolted a game on top of that? So that each character had skill points and hit points? So that monsters has character sheets, and players could do better through something like top-trumps? If the Storyteller could add items, monsters, locations and bosses from a collection of pre-fabricated items? We'd have something a LOT closer to a proper choose-your-own adventure, which often combine dice rolls with interactive play. This is something I'm VERY keen to explore, but probably not in this Alpha phase."
	.subtitle="Feedback & Comments"
	.intro="Community is really important to creative souls - even the introverted ones - as my Pre-Alpha Survey proves. So it's critical that Storyteller provides a good community for its members and players. I am hoping to introduce better social features during the Alpha - things like comments and sharing of stories (although only privately, among other beta testers."