extends ../../layouts/home

block content
	.intro Storyteller is currently undergoing a private Alpha testing phase. To get involved, you either need to be on the mailing list (you'll know if you are), or you need to have been given a special sign-up code.
	.intro All testers must complete a short survey (average completion time is around 6 minutes) before the test pages are unlocked.
	.intro To sign-up, please head to the Register page to create your account. If you're on the mailing list, just ignore the Sign-up Code box and enter your e-mail address. Your account will be created with a default password of <b>storyteller</b> - please change it to something more memorable. Bear in mind that there is no password reset form, so make sure you remember or write down your new password.
	.intro You'll need to go to the <a href="https://www.surveymonkey.com/s/6NB2JHQ">Pre-Alpha Survey</a> and note down the unluck code, then enter it into the box on <a href="http://www.electronicpoets.co.uk/user">your account</a> page.