extends ../../layouts/home

block content
	.subtitle Tips & Take-aways
	.intro <b>For best results, you should use Chrome or Firefox as your web browser. Thanks!</b>
	.intro Too lazy to read all this? I don't blame you - and it's not difficult to figure out. Here are some non-obvious things which you should be aware of:
		ul
			li You must be in "Edit Mode" to make changes to a page. Double-click text to edit it.
			li Pages can be PUBLISHED or UNPUBLISHED. Only the Storyteller can see an Unpublished page. When you've finished creating a new page, make sure it's published, or else the player won't be able to see it.
			li Changes aren't auto-saved. Clicking "Save" will save any changes you've made  (but remember, unpublished changes can't be see by other players).
			li You will receive an e-mail when something important happens in a story and you're not logged in.
			li There is a chat screen (click on Players, in the top-left) which should work well enough - although it isn't very good at notifying you about new messages.
	.subtitle How to play
	.intro Storyteller will eventually have a variety of different game modes, which are played differently. Today, there is just one: the Live Story.
	.intro A Live Story has two players: a Storyteller, and a Player (Theoretically, there can be more players). The Storyteller must create pages of content with which to tell a story, while the player must make decisions which affect the direction, flow and maybe even resolution of the story. The Storyteller can give the player options, let them make their own mind up, or a mixture of the two. Different Storytellers are welcome to explore different approaches and develop their own style.
	.subtitle Players
	.intro As a player, a Live Story is very simple. Each page provides a number of links on the right-hand-side, styled in a delightfully ugly red and yellow. Clicking a link will take the Player to the next page and advance the story (or at least, it will do when the page has been created and published). The game will remember a Player's actions: once a choice has been made, all other options are hidden to the player forever. A player can walk backward through the story, but can only move forward along the same route.
	.intro Be aware that it might take some time for the Storyteller to create the next part of the story. The "Players" window (opened by clicking "Players" in the top-left") indicates whether the Storyteller is online, and offers realtime chat (all times are local. I think.). If the Player is offline when the next page is created, they will receive an e-mail to notify them that the story is ready. If the Storyteller has forgotten to include links to the next page, the Player can use chat to politely request an update. The Player will see the new links as soon as the page is saved.
	.subtitle Storytellers
	.intro The Storyteller's role is a little more complex, as he or she must build and control the story. For best results, the story should probably be written in the second-person (ie, "You are standing in the middle of a forest...").
	.intro To create a page of content, the Storyteller must first enter Edit Mode, by clicking on the pencil icon by the page title (at the top-left of the page). When in edit mode, the Storyteller can alter the background image, add text and pictures to the story, and create and control links to other pages.
	.intro A page can have any number of links (although we recommend no more than five), and each link may have some main text (the Title) and, optionally, a sub text (the Subtitle), which appears below. A link's content can be edited by simply clicking on an editable cell (surrounded by a dotted line), or by using the Tab key to 'hop' between cells.
	.intro Each link has a TARGET: this is the page the player will go to when the link is selected. A target doesn't have to be set in advance, you can leave it blank and set it later. When the player clicks a link, you will be notified of their choice, and when a link target is set, the player is notified that the next page is ready. A target is set by typing the title of the page you wish to go to next: a menu will appear and show you a list of pages. If the page doesn't exist, it will already be created. Once a link target has been set, it can't be edited: clicking on the link will go to that page. To change a link target, un-set the current target by clicking the cross icon.
	.intro Any changes can be saved by clicking on the Save button, on the top-left of the screen. An asterisk (*) indicates that there are unsaved changes in the page. All changes in all pages are saved at the same time.
	.intro A player cannot navigate to a page unless it has been Published. This lets the Storyteller create a page in their own time without having to worry about the Player seeing something they shouldn't. Unpublished stories have a large "Unpublished" button in the top-right corner: clicking on this will save the page and publish it to the player. Once a page has been published, it cannot currently be unpublished.
	.intro The Story's details can be modified at any time by the Storyteller by clicking on the Story title.
	.subtitle Finishing and Sharing
	.intro A Story currently cannot be "finished" - it just runs forever, or at least until the Storyteller ceases to include links. Wiley players may notice a "Finish" button in the Story Editor, which is currently not implemented. When a Story is "finished", it cannot be edited.
	.intro Soon, it will be possible to share a story amongst other Alpha Testers. These "Spectators" or "Watchers" will be able to follow in the footsteps of the Player (or, when more than one player is allowed, can choose which Player they want to see). It may even be possible just to share a short selection of pages, to share highlights of a story. A story can only be shared once it is Published. A Story can be published or unpublished at any time.
	.intro Spectators/Watchers will be unable to join in the main game chat, but may have their own chat channel or be allowed to comment on a message board associated with the story.
