extends ../../layouts/home

block content
	.subtitle="Known Issues & Problems"
	.intro An important role for the Alpha test is to help identify where problems exist in the Storyteller game. Some problems are known about, and will be fixed in due course. Here are some of the major problems which you may encounter (and don't need to report):
		ul
			li Be aware that text editing is very primitive, and I haven't added in much control over the size and shape of text.
			li Background editing isn't up to much at the moment: that will get better in the next couple of weeks.
			li The "Responses" Dialog is an actual train-wreck. I know, I know.
			li Having titles visible on each page is current mandatory. I will be introducing options/preferences to control this