extends ../../layouts/home

block content
	.subtitle="What is Storyteller?"
	.intro Storyteller is a multiplayer storytelling game, played through a web browser, currently in a very early stage of development. It will always be free to play, but it will one day have a generous, charitable business model associated with it.
	.intro Storyteller is a (fairly) novel type of Interactive Fiction (IF): at Electronic Poets, we call it "Live Interactive Fiction". In traditional IF, like a Choose Your Own Adventure, an author will write a whole story in one go. In that story, each page has "links" to other pages, and the player must choose which links to follow to build the narrative. These links generally take the form of actions, like "Go North", "Drink some Tea", or "Attack the Troll", and they allow a player to carve a unique path through a branching narrative.
	.intro In Live Interactive Fiction, each page is only created "on demand", when the player selects a link. This means the Storyteller doesn't have to realise every single branch of the story at once, he or she just creates what's needed. 
	.intro This tweak on the traditional art introduces a range of changes to how Interactive Fiction is played. The pace is a little slower (unless time limits are introduced on each "turn"), but this enables casual games to take place over weeks in months, with players receiving notifications of updates to the story. Players and storytellers are free to dip in and out of the game in spare moments - all they need is access to an internet connection.
	.intro In exchange for the change of pace, an opportunity emerges for dynamic, collaborative, constantly creative stories to be told. The headaches of interweaving story branches are reduced because the Storyteller doesn't need to plan for every eventuality. Players may be offered to enter a "freestyle" action, in which they type whatever they want and the Storyteller must incorporate the response in the game.
	.intro Storyteller's own story is just beginning. Stick around to find out where it goes from here!