/* Have a go at declaring some LESS variabes.. */
/*

    button-background: 
    button-border: 
    button-background-hover:
    button-border-hover:

    link-background: 
    link-border: 
    link-background-hover:
    link-border-hover:
*/

@import "../base";
/*@highlightborder: maroon;
@border: red;
@background: yellow;
@highlighttext: orange;*/

.buttonContainer {
    vertical-align: top;
    text-align: center;

    transition: padding 0.2s;
    display: table-row;
}

/* Special rules for horizontal layout */
.page.prose {
    
    .buttonContainer.null.edit .related {
        display: none;
    }
    
    .buttonContainer.edit {
        
        .related {
            display: block;
        }
        .relatedWrapper {
            display: block;
        }
    }
    
    .buttonContainer {
        display: inline-block;
        margin: 0px 4px;
        
        .related {

            .relatedWrapper.show {
                display: block;
            } 
            
            .relatedWrapper {
                background-repeat: repeat-y;

                .divider {
                    display: block;                    
                    text-align: center;
                    padding: 8px 0px;
                }
                
                .targetWrapper {
                    text-align:center;
                    
                }
                .targets {
                    display: block;   
                }
            }
        }
    }
    
    .buttonGroup .header.show {
        display: block;
        margin-bottom: 24px;
        margin-top: -10px;
    }
    
}

.button {
    /*display: table-cell;*/

    vertical-align: middle;

    border: solid 3px red;
    background-color: yellow;

    cursor: pointer;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 5px;
    
    min-width: 30px;
}

.button,
/*.buttonContainer .button*/ .fi {
    -webkit-transition: padding 0.2s, border-width 0.2s, font-size 0.2s, border-color 0.4s, color 0.4s, background-color 0.4s;    
    transition: padding 0.2s, border-width 0.2s, font-size 0.2s, border-color 0.4s, color 0.4s, background-color 0.4s;    
}

.button.disabled {
    background-color: #c0c0c0;
    border-color: #A30B0B;
}

.button.disabled:hover {
    background-color: #c0c0c0;
    border-color: #000;
}

.buttonContainer.editOnly .button {
    display: none;
}

.buttonContainer.editOnly.edit .button {
    display: table-cell;
    border-style: dotted;
    background-color: goldenrod;
    cursor: pointer !important;
}

.buttonContainer.editOnly.edit .button .label {
    background-color: inherit !important;
    border: none !important;
    cursor: pointer !important;
}

.buttonContainer.null .button  {
    opacity: 0.8;
}

.buttonContainer.null .button .subtitle,
.buttonContainer.null .button .commandTray {
    display: none;
}

.comic .buttonContainer.edit .button:hover {
    border-color: red;
    background-color: @background;
}
    
.comic .buttonContainer .button:hover {
    border-color: @highlightborder;
}

.comic .buttonContainer.edit .button.editable:hover,
.comic .buttonContainer .button:hover { 
    background-color: rgb(246, 220, 81);
}

.comic .buttonContainer.edit .editable:focus {
    background-color: rgb(255, 192, 81);
    
}



.prose  {

    .buttonContainer.edit  {
    
        .button {
            background-color: rgb(243, 243, 243);
            padding: 4px;
            border-top: solid 1px #c0c0c0;
            border-bottom: solid 1px #c0c0c0;
        }
        
        .button.editable:focus {
            background-color: rgb(229, 243, 255);
        }
        
        .button.editable:hover { 
            background-color: rgb(229, 243, 255);
        }
    }
}

.buttonContainer:hover {	
    /*padding-left: 0px;
    padding-top: 0px;*/
}

.button .editable {
    text-align: center;
    white-space: nowrap; /*fix an edit-mode issue, don't like it */
}

.button .label {
    font-weight: bold;
}

.button .subtitle {
    font-size: 80%;
}

.targetWrapper .linkTarget .editable.placeholder,
.button .editable.placeholder {
    opacity: 0.5;
}

.buttonContainer .editControl {
    display: none;
}

.comic .buttonContainer .commandTray {
    position: relative;
    float: right;
    top: -20px;
    text-align:right;
    padding-top:2px;
}

.prose {
    
    .buttonContainer {
        .title-wrapper {
            display: inline-block;
        }
    
        .commandTray {
           display: inline-block;
           vertical-align: top;
           
           .fi {
               display: block;
               margin-left: 0px;
           }
        }
    }
}

.buttonContainer .button .fi {
    border-color: @border;
}

.buttonContainer .button:hover .fi {
    border-color: @highlightborder;
}

.buttonContainer .commandTray .fi:hover {
    border-color: @highlighttext;
}

/*.buttonContainer.edit .commandTray {
    display: block;
}*/

.buttonGroup .header {
    display: none;
    min-width: 90px;
    margin: 0px 20px 10px 20px;
}
.buttonGroup .header.show {
    display: table-caption;
    text-align: center;
    border-bottom: solid 2px @highlightborder;
    
}

.buttonGroup.collapsed .header {
    display: block;
}

.buttonGroup .header .wrapper {
    display: table-row;
}
.buttonGroup .header .cell {
   /* flex: 3;*/
   display: inline-block;
   /*display: table-cell;*/
}

.buttonGroup .header .cell.center {
    padding: 4px;
    cursor: pointer;
    background-color: lemonchiffon;
    border-radius: 10px;
    border: solid 2px @highlightborder;
    position: relative;
    top: 15px;
}

.buttonGroup .header .cell.center:hover {
    background-color: yellow;
}

.buttonGroup.collapsed .buttonContainer {
    display: none;
}

/*.buttonGroup .header .cell.center {
    padding: 4px;
    cursor: pointer;
    background-color: lemonchiffon;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 2px maroon;
    border-bottom: none;
}

.buttonGroup .header .cell.center:hover {
    background-color: yellow;
}*/

/*.buttonGroup .header .cell.left,
.buttonGroup .header .cell.right {
    position: absolute;
    top: 28px;
        
    width: 1px;
    height: 10px;
}

.buttonGroup .header .cell.left {
    left: 0px;
    border-left: solid 2px maroon;
}
.buttonGroup .header .cell.right {
    right: 0px;
    border-right: solid 2px maroon;
}

.buttonGroup.collapsed .header .cell.left{
    
}
.buttonGroup.collapsed .header .cell.right{
    
}*/


/*.buttonGroup .header .cell.left,
.buttonGroup .header .cell.right {
    position: absolute;
    top: 30px;
        
    width: 1px;
    height: 10px;
}

.buttonGroup .header .cell.left {
    left: 0px;
    border-left: solid 2px maroon;
}
.buttonGroup .header .cell.right {
    right: 0px;
    border-right: solid 2px maroon;
}*/


.buttonContainer .button .editable,
.targetWrapper .linkTarget .editable {
    min-width: 70px;
}

.buttonContainer.edit .editable {
    margin-bottom: 4px;
    padding: 2px;
    border: dashed 1px grey;
    cursor: text;
}

.button .fi.ok {
    color: green !important;
    border-color: green;
}

.buttonContainer .related{
    display: none;
    vertical-align: middle;
}

.buttonContainer.null.edit .related {
    /*visibility: hidden;*/
    display: none;
}

.buttonContainer.edit .related {
    display: table-cell;
}

.buttonContainer .related .fi {
    color: @highlightborder;
}
.buttonContainer .related .fi:hover {
    color: @highlighttext;
}

.buttonContainer .relatedWrapper {
    display: table;
    /*display: inline-block;
    wihth: 100%;*/
    text-align: left;
    background-image: url('/images/red-bg-1.png');
    background-repeat: repeat-x;
    background-position: center center;
}


.buttonContainer .divider,
.buttonContainer .targets {
    display: table-cell;
    vertical-align: middle;
}

/*.buttonContainer .targets {
   border: 2px solid @highlightborder;
    background: lemonchiffon;
   padding: 2px;
}*/

.buttonContainer .divider .fi {
    margin: 0px 4px;
}

/*.buttonContainer .divider .iconNode {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 1px;
    background-color: red;
}

.divider .turnType {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align:middle;
    margin-top:12px;
    padding: 0px 4px;
}*/

/*.divider .turnType.fixed {
    background-image: url('/images/stylistica/fixed.png');
}

.divider .turnType.fixed {
    background-image: url('/images/stylistica/fixed-hover.png');
}*/


/*.button .icon.free {
    cursor: default;
}

.button .icon.free,
.divider .turnType.free {
    background-image: url('/images/stylistica/freestyle.png');
}

.button .icon.free:hover,
.divider .turnType.free:hover {
    background-image: url('/images/stylistica/freestyle-hover.png');
}*/

.buttonContainer .targetWrapper .iconTray {
    display: inline-block;
   margin-left: -4px;
   vertical-align: middle;
   
   /*text-align:center;
   margin-top:-8px;*/
}

buttonContainer .targetWrapper .fi {
    margin-left: -4px;
}
.buttonContainer .targetWrapper .fi:first-child {
    margin-left: 0px;
}

.buttonContainer .targetWrapper .linkTarget {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    background-color: #f7ecb5;
    border: @highlightborder 2px solid;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    cursor: pointer;
}

/*.buttonContainer .targetWrapper .linkInput,*/
.buttonContainer .targetWrapper.active .linkTarget {
    cursor: pointer;
}

/*.buttonContainer .targetWrapper .linkInput:hover,*/
.buttonContainer .targetWrapper.active .linkTarget:hover {
    background-color: yellow;
}

.buttonContainer .targetWrapper .fi.remove {
    display: none !important;
}

.buttonContainer .targetWrapper.active .fi.remove {
    display: inline-block !important;
}

.freestyleTitle {
    border-bottom: solid 1px #c0c0c0;
    font-weight: bold;
    padding: 2px 8px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.freestyleBody {
    font-style :italic;
}

.freestyleDate {
    margin-top: 6px;
    font-size: 75%;
    opacity: 0.8;
    text-align: center;
}

.st-form.freestyle .column {
    display: inline-block;
    vertical-align: top;
}

.st-form.freestyle .column .button {
    display: block;
    margin: 4px;
    
    color: white;
    border-color: white;
}

.st-form.freestyle .column .button:hover {
    color: orange;
    border-color: orange;
}

.st-form.freestyle .intro {
    padding-bottom: 4px;
}

/*.st-form.freestyle textarea {
    resize: none;
    width: 300px;
    height: 60px;
    padding: 8px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(76,106,255,1);
    -moz-box-shadow: inset 0px 0px 7px 0px rgba(76,106,255,1);
    box-shadow: inset 0px 0px 7px 0px rgba(76,106,255,1);
}*/

.ui-autocomplete .ui-menu-item {
    text-align: right;
}

.ui-autocomplete .ui-menu-item .command {
    font-size: 80%;
    opacity: 0.8;
}

.ui-autocomplete .ui-menu-item .label {
    font-weight: bold;
}


.ui-autocomplete .ui-menu-item .fi {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    color: maroon;
}