.drawer.tray {
	display: none;
	z-index: 10;
}

.drawer.tray.open {
	display: block;
}

.responses.drawer.tray.open {
	visibility: visible !important;
	text-align: left;
}

.drawer.tray .selector div {
	display: inline-block;
}

.drawer.tray div.left,
.drawer.tray div.right {
	cursor: pointer;
	width: 20px;
	border: solid 2px maroon;
	position:  absolute;
}

.drawer.tray div.left {
	left: 0;
}

.drawer.tray div.right {
	right: 0;
}

.drawer.tray .tray-content {
	/*position: relative;*/
	background-color: white;
        /*background-color: #c0c0c0;*/
	min-height: auto;
	min-width: auto;
	
	border: solid 4px maroon;
        display: flex;
}

.drawer.tray .drawer-content {
	position: relative;
	background-color: white;
	height: 200px;
	width: 200px;
	
	vertical-align: middle;
	text-align: center;
	
	border: solid 4px maroon;
	/*border-left: solid 2px #888;
	border-right: solid 2px #888;*/
}

.drawer.tray .selector {
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	
	border: solid 4px maroon;
	border-top: none;
	
	z-index: 2;
	/*border-top: solid 2px #888;
	border-bottom: solid 2px #888;*/
}

.drawer-content .content-wrapper {
    position: static;
}

.button.open {
	border-color:maroon;
	border-width: 4px;	
}

.scroller {
	position: absolute;
	top: 0px;    /* offset by the margin width */
	bottom: 0px;
	width: 20px;
	background-color:blue;
	opacity: 0.4;
	z-index: 1;
	cursor: pointer;
}

.scroller:hover {
	opacity: 0.6
}

.scroller.left {
	left: 0;
}

.scroller.right {
	right: 0;
}


/*.drawer.tray.responses .tray-content {
	padding: 5px;
}*/

.drawer.tray.responses .title {
	font-weight:bold;
	/*background-color: white;*/
	text-align: center;
	border-bottom: solid 1px;
	margin-bottom: 6px;
}

.drawer.tray.responses .column {
	display: inline-block;
        vertical-align: top;
	background-color: white;
	padding: 6px;
}

.drawer.tray.responses .column.current {
    background-color: #FFFDD9;
}

.drawer.tray.responses .column:nth-child(even) {
	border-left: solid 1px maroon;
}

.drawer.tray.responses .empty {
	opactity: 0.75;
}

.drawer.tray.responses .player {
    font-weight: bold;
    margin-right: 8px;
}

.drawer.tray.responses .option,
.drawer.tray.responses .player {
    display: inline-block;
}

.drawer.tray.responses .option {
    font-style: italic;
    padding-right: 8px;
}

.drawer.tray.responses .timestamp {
    font-size: 75%;
    padding-left: 6px;
    color: slategrey;
    margin-bottom: 4px;
}