
.ui-dialog.gallery {
    top: 20px;
    left: 20px !important;
    right: 20px !important;
    width: auto !important;
    bottom: 20px;
    
    display: flex;
    flex-direction: column;
}

ui-dialog-titlebar {
    max-height: 100px;
}


/*
 *  Problem: providing sensible scrolling over the Gallery
 *  Because there are so many overlapping containers in the dialog,   
 *  this becomes more difficult than you'd like to think. Current solution
 *  is nested flexboxes ad nauseum: is there a better way?
 */
.ui-dialog-content {
    flex: 1;
    display: flex !important;
    flex-direction: column;
} 

.ui-dialog.gallery {
    
    .st-dialog-body {
        display: flex;
        flex: 1;
        
        .ui-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        
        .body {
            flex: 1;
            overflow: auto;
        }
    }
    
    .commands {
        max-height: 100px;
    }
    
    
}

/* Regular gallery styles. Lots of JQuery overrides and some redundancies
   from the rest of the app                                                 */
.ui-dialog.gallery {
   
    .note {
        color: maroon;
        background-color: beige;
        padding: 5px;
        margin: 5px 20px;
        border: dashed 1px slategrey;
    }
    
    .intro {
        margin-bottom: 20px;
    }

    .thumb-wrapper {
        display: inline-block;
        min-width: 160px;
        min-height: 160px;
        padding-bottom: 20px;
    }

    .thumb-wrapper .content-wrapper {
        width: 150px;
        height: 150px;
        /*display: inline-block;*/
        margin: 6px;
        border: solid 1px #c0c0c0;
        
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        position: inherit;
        overflow: hidden;
        
        cursor: pointer;
        opacity: 0.85;
     }
     
     .thumb-wrapper .content-wrapper.selected,
     .thumb-wrapper .content-wrapper.selected:hover {
        border-color: #a50;
        background-color: aliceblue;
        opacity: 1;
        border-radius: 8px;
     }
     
     .thumb-wrapper .content-wrapper:hover {
         opacity: 1;
         background-color: #FAFCFF;
         border-color: #666;
     }

    .thumb-wrapper .title,
    .thumb-wrapper .creator-wrapper {
         background-color: #eee;
         text-align: center;
     }

     .thumb-wrapper .title {
         font-size: 14px;
         font-weight: bold;
     }

     .thumb-wrapper .creator-wrapper {
        font-size: 12px;
        opacity: 0.8;
     }

     .thumb-wrapper .creator-wrapper .text {
         margin: 0px 4px;
     }

     .page-control {
         text-align: center;
         height: 30px; /* not nice! */
     }

     .button,
     .field .page-button,
     .paginator .page-button {
         border-radius: 5px;
         font-size: 16px;
         border: solid 1px slategrey;
         display: inline;
         cursor: pointer;
         padding: 4px;
         margin: 0px 5px;
         background-color: inherit;
     }

     .paginator .page-button {
         visibility: hidden;
     }

     .paginator .page-button.show {
         visibility: visible;
     }

     .paginator .page-button:hover {
         border-width: 2px;
     }

     /* Copy some styling from Keystone to make my inputs look better */
     input {
        display: block;
        width: 100%;
        /*height: 34px;*/
        padding: 6px 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     }

     input.file-select {
         width: auto;
     }

     input.shadowed {
        box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
        border-color: #bbb #ddd #eee;
        -webkit-appearance: none;
     }

     input.check {
         width: auto;
     }
     
     .field {
         margin: 4px 0px;
         display: block !important; /* overridde an overlapping style. Sloppy */
     }

     .field.center {
         text-align: center;
     }

     .field .input-wrapper {
         display: inline-block;
         width: 85%;
         min-widht: 100px;
     }

     .field .input-wrapper.short {
         width: 40%;
     }

     .field label {
         display: inline-block;
         vertical-align:top;
         padding-top: 5px;
         min-width: 100px;
         width: 15%;
     }

     .input-wrapper.preview {
         /*display: inline;*/
         background-color: white;
     }

     .input-wrapper.preview input {
         border: none;
         display: inline;
     }

    input.invalid {
        border-color:red;
    }

     .content-wrapper.preview {
         visibility: visible;
         position: inherit;
     }

     .content-wrapper.preview .content {
        border: dashed 1px slategrey;
        margin-left: 15px;
        min-width: 160px;
        min-height: 160px;
        padding: 5px;
        visibility: visible;
     }

    .page-button.submit {
        padding-right: 16px;
    }



    .page-button.submit .throbber {
        background: url('/images/pacman-load.gif') no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;
        visibility: hidden;
        padding-right: 2px;
        vertical-align: middle;
    }

    .page-button.submit.loading .throbber {
        visibility: visible;
    }
    
    .commands {
        margin-top:10px;
    } 
    
    .ui-tabs {
        border: none !important;
    }
    
    .ui-widget-content {
        background: #eee;
    }
    
    .ui-tabs .ui-tabs-panel {
        padding: 0px;
    }
    
    .body {
        border-bottom: solid 1px slategrey;
    }
    
    .header-wrapper {
        border: none;
        border-radius: 0px;
        background: inherit;
        border-bottom: solid 1px slategrey;
        
         text-align: center;
    }
    .header-wrapper li {
        display:inline-block;
        float: none;
        position: inherit;
        border-color: slategrey;
        vertical-align: bottom;
    }
    
    .header-wrapper li.ui-tabs-active a {
        cursor: default;
        color: black;
    }
    
    .header-wrapper li.ui-tabs-active {
        cursor: default;
        font-size: 18px;
    }
    
    .header-wrapper li.ui-tabs-active { 
        opacity: 0.8
    }
    
    .inserts {
       font-size: 80%;
    }
    
    .tooltray {
        display: block;
    }
    
    .tooltray .command {
        margin: 0px 4px;
        cursor: pointer;
    }
    
    .tooltray .command:hover {
        color: maroon;
    }
    
    /*.fi.edit,
    .fi.remove {
        background-color: inherit;
        border: none;
        color: maroon;
    }*/
}