.notifier {
	display: inline-block;
	visibility: hidden;
	color: yellow;
	background: red;
	border: solid 1px white;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	width: 20px;
	height: 20px;
	
	text-align: center; 
}

.notifier.show {
	visibility: visible;
}


/* tooltip styling */

.ui-tooltip {
	/*width: auto !important;*/
	/*width: 400px !important;*/
	border-color: maroon !important;
}

.ui-tooltip-content {
	font-size: 10pt !important;
	font-weight: normal !important;
} 


.ui-tooltip-content .notifications .header {
	font-weight: bold;
}

.ui-tooltip-content .notifications .body {
	display: table;
}

.ui-tooltip-content .notifications .note-wrapper {
	padding-left: 8px;
	margin-bottom: 1px solid #c0c0c0;
	display: table-row;
}

.ui-tooltip-content .notifications .source {
	font-weight: bold;
	color: maroon;
	padding-left: 8px;
	display: table-cell;
}

.ui-tooltip-content .notifications .message {
	font-style: italic;
	padding-left: 8px;
	display: table-cell;	
}

