<div data-binding="buttonRoot" class="button" data-click="doClick">
    <div data-binding="cmdTray" class="commandTray"></div>
    <div data-binding="title" data-editProp="title" data-placeholder="Action" class="editable label"></div>
    <div data-binding="subtitle" data-editProp="subtitle" data-placeholder="Description" class="editable subtitle"></div>
</div>

<div class="related">
    <div class="relatedWrapper">
        <div class="divider">
            <span data-binding="turnType" data-click="typeHandler" class="turnType fixed" />
        </div>
        <div data-binding="targetOutput" class="targets" />
    </div>

</div>